<tr class="meeting">
  <td><%= period.formatted_start_time %></td>
  <td id="period-<%= period_counter %>" class="<%= period.status.downcase %>"><%= period.status %></td>
  <td id="period-<%= period_counter %>-btn">
    <%  if period.is_available? %>
      <%= mark_personal_button(@conference_date, period, period_counter) %>
    <% else %>
      <%= mark_available_button(@conference_date, period, period_counter) %>
    <% end %>
  </td>
</tr>

<%# button_to 'Available',
                    mark_available_conference_date_meeting_path(@conference_date, period.meeting_id, start_time: period.start_time,
                                                                update: "period-#{period_counter}"),
                    update: "period-#{period_counter}", remote: true %>
