<%= simple_form_for @student do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <legend>Student</legend>
    <div class="name-element">
      <%= f.input :first_name, autofocus: true %>
      <%= f.input :last_name %>
      <%= f.input :full_name, :disabled => true %>
    </div>
    <%= f.input :nickname %>
  </fieldset>

  <fieldset>
    <legend>Parents &nbsp; <%= link_to_add_fields "Add Parent", f, :relationships %></legend>
    <ol>
      <%= f.simple_fields_for :relationships do |builder| %>
        <li class="inline">
          <%= builder.input :parent_name, :disabled => true, :label => false, :wrapper_html => {:style => "display:inline-block;"} %>
          <%= builder.label :_destroy, "Remove", :style => "display:inline;" %>
          <%= builder.check_box :_destroy %>
        </li>
      <% end %>
    </ol>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
