<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="name-element">
      <%= f.input :first_name, autofocus: true %>
      <%= f.input :last_name %>
      <%= f.input :full_name, :disabled => true %>
    </div>
    <%= f.input :email %>
    
    <fieldset>
      <legend>Is this user a...</legend>
      <%= f.input :user_is_a_teacher?, :as => :radio_buttons %>
      <ol>
        <li>@user.user_is_a_teacher? <%= @user.user_is_a_teacher? %></li>
        <li>@user.teacher.present? <%= @user.teacher.present? %></li>
        <li>@user.teacher.active_teacher <%= @user.teacher.active_teacher %></li>
      </ol>
    </fieldset>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
