<h1> <%= @current_user.full_name %> Dashboard</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>

<ul>
  <li><%= link_to courses_url %></li>
  <li><%= link_to conference_dates_url %></li>
</ul>

<%= render :partial => 'courses/mycourses', :object => @courses %>

<%= render :partial => 'conference_dates/myconferences'  %>
<%= render :partial => 'meetings/mymeetings' %>