<%= simple_form_for @course do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :code %>
    <%= f.input :description %>
    <%= f.input :first_day, :as => :date_picker, :class => 'date_picker' %>
    <%= f.input :last_day, :as => :date_picker,  :class => 'date_picker' %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>

  <fieldset>
    <legend>Class Roster &nbsp; <%= link_to_add_fields "Add Student", f, :rosters %></legend>
    <ol>
      <%= f.simple_fields_for :rosters do |builder| %>
        <li class="inline">
          <%= builder.input :student_name, :disabled => true, :label => false, :wrapper_html => {:style => "display:inline-block;"} %>
          <%= builder.label :_destroy, "Remove", :style => "display:inline;" %>
          <%= builder.check_box :_destroy %>
        </li>
      <% end %>
    </ol>
  </fieldset>
<% end %>
