<%= simple_form_for(@parent) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, autofocus: true, :input_html => {:class => 'nameElement'} %>
    <%= f.input :last_name, :input_html => {:class => 'nameElement'} %>
    <%= f.input :full_name, :disabled => true %>
    <%= f.input :nickname %>
    <%= f.input :email, :placeholder => 'user@domain.com' %>
    <%= f.input :phone, :placeholder => '999-888-1234' %>
    <%= f.input :phone_has_sms, :inline_label => 'Send Text Messages?' %>
    <%= f.association :organization %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
